.BadWord {
  text-decoration: line-through;
  padding-right: 5px;
  font-size: 16px;
}

.GoodWord {
  padding-right: 5px;
  font-size: 16px;
}

.AllWords {
  background-color: #5B8587;
  float: right;
  margin-right: 50%;
}

#AllWordsSpan {

}
